---
import Layout from '../layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import faqs from '../../data/faqs.json'
import projects from '../../data/projectsv2.json'

const STEPS = [
	'Crea tu cuenta y completa tu perfil en la plataforma de briq.mx',
	'Explora nuestras propiedades y decide en cuál(es) quieres invertir',
	'Selecciona la cantidad de metros que deseas comprar desde 1 m²',
	'Sigue las instrucciones de transferencia según tu banco y recibe tu certificado de compra',
	'Empieza a recibir ganancias por la renta y obtén plusvalía de tus metros'
]

const numberToCurrency = (number) => {
	return new Intl.NumberFormat('es-MX', {
		style: 'currency',
		currency: 'MXN'
	}).format(number)
}

const nonFeaturedProjects = projects.filter((project) => !project.isFeatured)
const featuredProjects = projects.filter((project) => project.isFeatured)
---

<Layout title="Inicio | Construye tu patrimonio metro a metro.">
	<main class="font-body text-lg text-navy antialiased">
		<nav class="sticky top-0 z-20 border-b bg-white py-4">
			<div class="mx-auto w-full max-w-screen-2xl px-4">
				<div class="flex items-center justify-between">
					<img src="logo-nav.png" alt="Logo" class="w-32" />
					<div class="flex gap-2">
						<a
							class="inline-flex border border-white bg-white px-3 py-3 font-display text-sm font-bold text-navy"
							href="#propiedades"
						>
							Ver propiedades
						</a>
						<a
							class="inline-flex border bg-white px-3 py-3 font-display text-sm font-bold text-navy"
							href="https://www.briq.mx/users/sign_in"
							target="_blank"
						>
							Iniciar sesión
						</a>
					</div>
				</div>
			</div>
		</nav>
		<header class="border-b bg-beige-dark">
			<div
				class="flex flex-col items-stretch justify-between md:min-h-[85vh] md:flex-row xl:min-h-[75vh]"
			>
				<div class="flex w-full items-center justify-center px-4 py-8">
					<div class="flex max-w-lg flex-col items-start gap-4">
						<div>
							<p class="font-display text-sm font-semibold text-primary">
								Las ventajas de ser dueño, sin las molestias de administrar.
							</p>
							<h1 class="font-display text-4xl font-bold md:text-5xl">
								Construye tu patrimonio un metro a la vez
							</h1>
						</div>
						<p class="leading-relaxed">
							Compra desde 1m² en los mejores edificios, obtén rentas y plusvalía, o adquiere tu
							departamento un metro a la vez
						</p>
						<button
							class="video-button inline-flex items-center gap-4 bg-navy px-6 py-4 font-display font-bold text-white"
							data-video="video-general.mp4"
						>
							<span>¿Como funciona?</span>
							<Icon name="tabler:player-play-filled" class="opacity-90" />
						</button>
					</div>
				</div>
				<div class="h-[420px] w-full md:h-auto">
					<figure class="relative h-full w-full">
						<img
							src="hero-cover-2.jpg"
							alt="Hero"
							class="absolute inset-0 z-10 h-full w-full object-cover"
						/>
					</figure>
				</div>
			</div>
		</header>
		<section class="py-8">
			<div class="mx-auto w-full max-w-screen-lg px-4">
				<div class="grid grid-cols-1 gap-8 md:grid-cols-3">
					<article
						class="flex flex-col items-start justify-between gap-4 rounded-lg border bg-beige p-8"
					>
						<div>
							<img src="icono-card-1.svg" class="mb-8 h-12" />
							<h2 class="font-display font-bold">
								Sé dueño de m² y recibe rentas sin preocuparte.
							</h2>
							<p>
								Sin lidiar con malos inquilinos, sin periodos sin renta y sin ocuparte de
								mantenimiento. Solo recibe tus rendimientos.
							</p>
						</div>
						<button
							class="video-button flex items-center justify-center gap-2 bg-navy px-3 py-2 font-display text-sm font-medium text-white"
							data-video="video-1.mp4"
						>
							<span>Ver video</span>
							<Icon name="tabler:player-play-filled" />
						</button>
					</article>
					<article
						class="flex flex-col items-start justify-between gap-4 rounded-lg border bg-beige p-8"
					>
						<div>
							<img src="icono-card-2.svg" class="mb-8 h-12" />
							<h2 class="font-display font-bold">Compra tu departamento a tu propio ritmo.</h2>
							<p>
								Comienza comprando desde 1m² y crece a tu propio ritmo hasta completar tu
								departamento.
							</p>
						</div>
						<div>
							<button
								class="video-button flex items-center justify-center gap-2 bg-navy px-3 py-2 font-display text-sm font-medium text-white"
								data-video="video-2.mp4"
							>
								<span>Ver video</span>
								<Icon name="tabler:player-play-filled" />
							</button>
						</div>
					</article>
					<article
						class="flex flex-col items-start justify-between gap-4 rounded-lg border bg-beige p-8"
					>
						<div>
							<img src="icono-card-3.svg" class="mb-8 h-12" />
							<h2 class="font-display font-bold">Tu inversión está respaldada y segura.</h2>
							<p>
								Compra m² de manera fácil y segura en los mejores edificios de México, operados por
								Be Grand<sup>&reg;</sup> y con el respaldo tecnológico de briq.mx.
							</p>
						</div>
						<div>
							<button
								class="video-button flex items-center justify-center gap-2 bg-navy px-3 py-2 font-display text-sm font-medium text-white"
								data-video="video-3.mp4"
							>
								<span>Ver video</span>
								<Icon name="tabler:player-play-filled" />
							</button>
						</div>
					</article>
				</div>
			</div>
		</section>
		<section class="border-y bg-beige py-24" id="propiedades">
			<div class="mx-auto w-full max-w-screen-lg px-4">
				<div class="flex flex-col gap-2">
					<p class="font-display text-sm font-semibold text-primary">Propiedades disponibles:</p>
					<h2 class="mb-16 max-w-xl font-display text-4xl font-bold">
						Sé dueño de una parte de los mejores edificios de México
					</h2>
				</div>
				<div class="mb-4 flex flex-col gap-8">
					{
						featuredProjects.map((project, index) => (
							<article class="relative rounded-lg border bg-white shadow-sm">
								<div class="grid grid-cols-1 md:grid-cols-3">
									<div class="col-span-1 p-8">
										<figure class="relative aspect-square h-full w-full bg-navy">
											<img
												src={project.image}
												alt="Proyecto"
												class="absolute inset-0 h-full w-full object-cover"
											/>
											<div class="absolute bottom-0 right-0 h-10 w-10 bg-white" />
											<div class="absolute left-0 top-0 h-10 w-10 bg-white" />
										</figure>
									</div>
									<div class="col-span-2 flex flex-col justify-between gap-8 p-8">
										<div>
											{project.isFeatured && (
												<span class="mb-2 inline-block bg-yellow-200 p-1 text-sm font-medium text-navy">
													Destacado
												</span>
											)}
											<h2 class="font-display text-3xl font-bold">{project.title}</h2>
											<div class="flex items-center gap-1">
												<Icon name="tabler:map-pin" class="text-navy" />
												<span class="text-sm font-medium">{project.location}</span>
											</div>
										</div>
										<p
											class="line-clamp-3 text-sm leading-relaxed text-navy/80"
											set:html={project.description}
										/>
										<div class="flex flex-col justify-between gap-4 md:flex-row md:items-center">
											<div class="flex gap-4">
												<dl class="flex flex-col gap-2">
													<dt class="text-sm font-medium">Precio de tu m²</dt>
													<dl class="font-display text-2xl font-bold">
														{numberToCurrency(project.price)}
													</dl>
												</dl>
											</div>
											<a
												class="inline-flex justify-center bg-navy px-6 py-4 text-center font-display font-bold text-white"
												href={project.url}
												target="_blank"
											>
												Comprar ahora
											</a>
										</div>
									</div>
								</div>
							</article>
						))
					}
				</div>
				<div class="mb-16 grid grid-cols-1 gap-8 md:grid-cols-3">
					{
						nonFeaturedProjects.map((project, index) => (
							<article class="relative flex flex-col rounded-lg border bg-white shadow-sm">
								<div class="flex grid flex-1 grid-cols-1 flex-col">
									<div class="col-span-1 p-4">
										<figure class="relative aspect-square h-full w-full bg-navy">
											<img
												src={project.image}
												alt="Proyecto"
												class="absolute inset-0 h-full w-full object-cover"
											/>
											<div class="absolute bottom-0 right-0 h-10 w-10 bg-white" />
											<div class="absolute left-0 top-0 h-10 w-10 bg-white" />
										</figure>
									</div>
									<div class="col-span-2 flex flex-1 flex-col justify-between gap-8 p-4">
										<div>
											{project.isFeatured && (
												<span class="mb-2 inline-block bg-yellow-200 p-1 text-sm font-medium text-navy">
													Destacado
												</span>
											)}
											<h2 class="font-display text-3xl font-bold">{project.title}</h2>
											<div class="flex items-center gap-1">
												<Icon name="tabler:map-pin" class="text-navy" />
												<span class="text-sm font-medium">{project.location}</span>
											</div>
										</div>
										<p
											class="line-clamp-3 text-sm leading-relaxed text-navy/80"
											set:html={project.description}
										/>
										<div class="flex flex-col justify-between gap-4">
											<div class="flex gap-4">
												<dl class="flex flex-col gap-2">
													<dt class="text-sm font-medium">Precio de tu m²</dt>
													<dl class="font-display text-2xl font-bold">
														{numberToCurrency(project.price)}
													</dl>
												</dl>
											</div>
											<a
												class="inline-flex justify-center bg-navy px-6 py-4 text-center font-display font-bold text-white"
												href={project.url}
												target="_blank"
											>
												Comprar ahora
											</a>
										</div>
									</div>
								</div>
							</article>
						))
					}
				</div>
				<p class="mb-8 py-2 text-center">
					Además de volverte dueño de m² de grandes propiedades, con Sumametros cuentas con
				</p>
				<div class="grid grid-cols-1 gap-8 md:grid-cols-3">
					<article class="flex flex-col items-center gap-2 py-4 text-center">
						<Icon name="tabler:building-skyscraper" class="text-2xl text-navy" />
						<h2 class="font-display font-bold">Una plataforma regulada</h2>
						<p>
							Las operaciones se realizan a través de briq.mx, líder en el mercado y regulada por
							las autoridades financieras.
						</p>
					</article>
					<article class="flex flex-col items-center gap-2 py-4 text-center">
						<Icon name="tabler:shield-lock" class="text-2xl text-navy" />
						<h2 class="font-display font-bold">Respaldo de empresas reconocidas</h2>
						<p>
							Inmuebles respaldados y operados por Be Grand<sup>&reg;</sup>. Empresa con años de
							experiencia en el sector residencial de lujo.
						</p>
					</article>
					<article class="flex flex-col items-center gap-2 py-4 text-center">
						<Icon name="tabler:home-ribbon" class="text-2xl text-navy" />
						<h2 class="font-display font-bold">Constancia de propiedad</h2>
						<p>
							Recibe una constancia que acredita tu propiedad de metros cuadrados libre de cualquier
							gravamen.
						</p>
					</article>
				</div>
			</div>
		</section>
		<section class="py-16">
			<div class="mx-auto w-full max-w-screen-lg px-4">
				<p class="font-display text-sm font-semibold text-primary">Ventajas</p>
				<h2 class="mb-24 font-display text-4xl font-bold">
					¿Cuáles son las ventajas de comprar metros cuadrados en Sumametros?
				</h2>
				<div class="grid grid-cols-1 gap-8 md:grid-cols-2">
					<article class="flex flex-col justify-between rounded-lg border bg-beige p-8">
						<div>
							<h2 class="font-display font-bold text-primary">Inversión</h2>
							<p class="mb-16 font-display text-2xl font-bold">
								Puedes comprar desde 1m² , comenzar a crecer tu patrimonio y recibir rentas
								mensuales
							</p>
						</div>
						<p class="text-lg font-semibold opacity-50">
							Con Sumametros no necesitas desembolsar grandes cantidades ni endeudarte para ser
							dueño. Además, olvídate de tener que esperar a que tu propiedad se rente para recibir
							ganancias
						</p>
					</article>
					<article class="flex flex-col justify-between rounded-lg border bg-beige p-8">
						<div>
							<h2 class="font-display font-bold text-primary">Diversificación</h2>
							<p class="mb-16 font-display text-2xl font-bold">
								Puedes invertir en diferentes propiedades.
							</p>
						</div>
						<p class="text-lg font-semibold opacity-50">
							Con Sumametros podrás diversificar tu inversión de manera sencilla, comprando metros
							cuadrados en diferentes desarrollos
						</p>
					</article>
					<article class="flex flex-col justify-between rounded-lg border bg-beige p-8">
						<div>
							<h2 class="font-display font-bold text-primary">Operación</h2>
							<p class="mb-16 font-display text-2xl font-bold">
								No tienes que preocuparte por nada ya que las propiedades son operadas por Be Grand<sup
									>&reg;</sup
								>
							</p>
						</div>
						<p class="text-lg font-semibold opacity-50">
							Con Sumametros no tendrás que preocuparte por tareas de mantenimiento, cobranza, o
							malos inquilinos; ya que todas las propiedades son operadas por los expertos de Be
							Grand®
						</p>
					</article>
					<article class="flex flex-col justify-between rounded-lg border bg-beige p-8">
						<div>
							<h2 class="font-display font-bold text-primary">Ocupación</h2>
							<p class="mb-16 font-display text-2xl font-bold">
								Ocupación y rendimientos constantes por volumen
							</p>
						</div>
						<p class="text-lg font-semibold opacity-50">
							Con Sumametros recibe ganancias constantemente y olvídate de buscar nuevos inquilinos
							o perder dinero por periodos sin renta
						</p>
					</article>
				</div>
			</div>
		</section>
		<section class="bg-beige pb-16 pt-24">
			<div class="mx-auto w-full max-w-screen-lg px-4">
				<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
					<h2 class="mb-24 font-display text-4xl font-bold">
						¿Cómo funciona comprar en Sumametros? <br /> Es fácil y seguro
					</h2>
					<article class="max-w-md">
						<div class="flex flex-col items-start">
							{
								STEPS.map((step, index) => (
									<article class="flex items-stretch gap-4">
										<div class="flex flex-col items-center">
											<div class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-navy font-display font-bold text-white">
												{index + 1}
											</div>
											{index !== STEPS.length - 1 && <div class="h-full w-1 bg-navy" />}
										</div>
										<div class="flex flex-col items-start gap-4 pb-10">
											<p class="font-display text-xl font-semibold">{step}</p>
											{index == STEPS.length - 1 && (
												<a
													href="#"
													class="inline-flex justify-center bg-navy px-6 py-4 text-center font-display font-bold text-white"
												>
													Comprar ahora
												</a>
											)}
										</div>
									</article>
								))
							}
						</div>
					</article>
				</div>
			</div>
		</section>
		<section class="py-24">
			<div class="mx-auto w-full max-w-screen-lg px-4">
				<div class="grid grid-cols-1 gap-8 p-8 md:grid-cols-3">
					<figure class="flex items-center justify-center bg-beige">
						<img src="logo-begrand.svg" alt="Logo" class="w-32 mix-blend-multiply" />
					</figure>
					<div class="col-span-2 flex flex-col items-start gap-8">
						<p class="font-display font-bold text-primary">Respaldo</p>
						<h2 class="max-w-xl font-display text-4xl font-bold">
							Todas las propiedades de Sumametros están respaldadas y son administradas por Be Grand<sup
								>&reg;</sup
							>
						</h2>
						<p>
							Una empresa orgullosamente mexicana, con 20 años de experiencia en el desarrollo y
							comercialización de proyectos inmobiliarios de alta calidad en zonas AAA en México y
							España. Una marca líder en el segmento residencial plus y con amplia experiencia en
							desarrollos residenciales, comerciales y oficinas.
						</p>
						<div class="flex flex-wrap gap-4 md:flex-nowrap">
							<dl>
								<dt class="text-sm">Años de experiencia</dt>
								<dd class="font-display text-2xl font-bold">20</dd>
							</dl>
							<dl>
								<dt class="text-sm">Proyectos inmobiliarios</dt>
								<dd class="font-display text-2xl font-bold">+30</dd>
							</dl>
							<dl>
								<dt class="text-sm">Departamentos vendidos</dt>
								<dd class="font-display text-2xl font-bold">+5,000</dd>
							</dl>
							<dl>
								<dt class="text-sm">Plusvalía promedio anual</dt>
								<dd class="font-display text-2xl font-bold">10%</dd>
							</dl>
						</div>
						<a
							class="inline-flex justify-center bg-navy px-6 py-4 text-center font-display font-bold text-white"
							href="#">Conoce más</a
						>
					</div>
				</div>
			</div>
		</section>
		<section class="border-t bg-beige py-16">
			<div class="mx-auto w-full max-w-screen-lg px-4">
				<h2 class="mb-16 font-display text-4xl font-bold">Preguntas frecuentes</h2>
				<div class="grid grid-cols-1 gap-4">
					{
						faqs.map((faq) => (
							<div class="flex w-full flex-col gap-4 rounded-lg border bg-white p-8">
								<h2 class="font-display text-2xl font-bold">{faq.question}</h2>
								<p class="text-lg">{faq.answer}</p>
							</div>
						))
					}
				</div>
			</div>
		</section>
		<footer class="border-t py-8">
			<div class="mx-auto w-full max-w-screen-lg px-4">
				<div class="mb-8 flex flex-col items-start justify-between gap-4 md:flex-row">
					<div class="flex flex-col gap-8 md:flex-row md:items-center">
						<div class="flex-shrink-0">
							<p class="text-xs text-zinc-500">Con tecnología de</p>
							<img src="logo-briq.svg" alt="Logo Briq" class="h-8" />
						</div>
						<div class="h-1 w-[200px] bg-navy md:h-8 md:w-1"></div>
						<div class="flex flex-col gap-4 md:gap-0">
							<p class="max-w-3xl text-sm">
								Las operaciones en Sumametros se llevan a través en briq.mx, una plataforma de
								fondeo colectivo regulada por las autoridades finacieras (CNBV, CONDUSEF, Banco de
								México y SHCP). <a
									href="https://www.briq.mx/regulacion?utm_source=Sumametros&utm_medium=referral"
									target="_blank"
									class="text-primary
									underline">Conocer más</a
								>
							</p>
							<p class="text-sm">
								Para poder adquirir m² deberás tener cuenta en <a
									href="https://briq.mx?utm_source=Sumametros&utm_medium=referral"
									target="_blank"
									class="text-primary
									underline">briq.mx</a
								>.
							</p>
						</div>
					</div>
					<nav class="flex flex-col gap-4">
						<a href="#" target="_blank" class="flex items-center gap-1 text-xs font-medium">
							<Icon name="bxl:facebook" class="h-6 w-6" />
							<span>Be Grand</span>
						</a>
						<a href="#" target="_blank" class="flex items-center gap-1 text-xs font-medium">
							<Icon name="bxl:instagram" class="h-6 w-6" />
							<span>@begrand</span>
						</a>
					</nav>
				</div>
			</div>
		</footer>
		<div class="fixed inset-0 z-20 hidden items-center justify-center bg-black/90" id="video-modal">
			<div
				class="relative aspect-video w-full bg-white shadow-xl md:h-[80vh] md:w-auto"
				id="video-container"
			>
				<video controls class="absolute inset-0 h-full w-full" id="video">
					<source src="video-general.mp4" type="video/mp4" />
				</video>
				<button class="absolute right-0 top-0 bg-white p-4 text-black" id="close-video">
					Cerrar
				</button>
			</div>
		</div>
	</main>
</Layout>

<script is:inline>
	const playVideoButtons = document.querySelectorAll('.video-button')
	const videoModal = document.getElementById('video-modal')
	const closeVideo = document.getElementById('close-video')
	const videoContainer = document.getElementById('video-container')

	// Detect a click on any of the play buttons
	playVideoButtons.forEach((button) => {
		button.addEventListener('click', (event) => {
			const video = document.getElementById('video')
			const videoSrc = event.currentTarget.dataset.video // Use currentTarget instead of target

			// Set the video source
			video.src = `${videoSrc}`
			console.log(videoSrc)

			// Show the modal
			videoModal.classList.remove('hidden')
			videoModal.classList.add('flex')

			// Play the video
			video.play()
		})
	})

	// Close the modal
	closeVideo.addEventListener('click', () => {
		const video = document.getElementById('video')

		videoModal.classList.remove('flex')
		videoModal.classList.add('hidden')
		video.pause()
	})

	//If I click outside the video-container, close the modal
	videoModal.addEventListener('click', (event) => {
		if (event.target.id === 'video-modal') {
			videoModal.classList.remove('flex')
			videoModal.classList.add('hidden')
			video.pause()
		}
	})
</script>
